.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}

.scroll-direction {
    direction: rtl;
}

.big {
    display: inline-grid;
    margin: 10px;
    width: 80vw;
    height: 165vh;
    background-color: white;
    grid-template-rows: repeat(5, minmax(80px, 200px));
    grid-template-columns: repeat(4, minmax(80px, 200px));
    gap: 5px 5px;
    overflow-y: auto;
}

.big div {
    background-color: #cfcfcf;
}

aside {
    display: inline-block;
    width: 10vw;
    height: 100vh;
    position: sticky;
    top: 0;
}

aside li {
    height: 5vh;
    background-color: #cfcfcf;
    margin: 2px;
}

form {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 5px;
}

form input {
    width: 50vw;
}